<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>

<body>

    <!-- Navigation (Stays on Top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="{{ url_for('home') }}" class="w3-bar-item w3-button"><b>SP</b> Star Predictor</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="{{ url_for('about') }}" class="w3-bar-item w3-button">About</a>
                <a href="{{ url_for('prediction') }}" class="w3-bar-item w3-button">Prediction</a>
                <a href="{{ url_for('visualisation') }}" class="w3-bar-item w3-button">Visualisation</a>
                <a href="{{ url_for('links') }}" class="w3-bar-item w3-button">Links</a>
            </div>
        </div>
    </div>

    <!-- Start Content -->
    <div id="home" class="w3-content" style="width:80%; padding-top:20px;">
        <div id="about" class="w3-container w3-padding-32 w3-white">

        </div>

        <!-- Image -->
        <div class="w3-center">
            <img src="static/images/potw2113a.jpg" alt="Image" style="width:60%;">
        </div>

        <!-- About -->
        <div id="about" class="w3-container w3-padding-32 w3-white">
            <p class="w3-center"><i>"Deep in the human unconscious is a pervasive need for a logical universe that makes sense. But the real universe is always one step beyond logic." - from The Sayings of Muad'Dib by the Princess Irulan </i></p>
        </div>

        <!-- Footer -->
        <div class="w3-container w3-center w3-padding-32 w3-white">
            <p class="w3-center w3-padding">Powered by <a href="https://www.w3schools.com/w3css/default.asp"
                    title="W3.CSS" target="_blank">w3.css</a></p>
        </div>

        <!-- End Content -->
    </div>

</body>

</html>